:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue: hsl(229, 23%, 23%);
	--dark-blue-gray: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	background-color: var(--dark-cyan);
	/* background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg); */
	/* background-image: url(./images/bg-pattern-top.svg); */
	/* background-position: -100% 200%; */
	/* background-repeat: no-repeat; */

	font-family: 'Kumbh Sans', sans-serif;
}

.card {
	width: 325px;
	max-height: 375px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	font-size: 18px;
}

.card__header {
	position: relative;
	width: 100%;
	height: 140px;
	background-color: black;
	background-image: url(./images/bg-pattern-card.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.card__profile-picture {
	position: absolute;
	/* bottom: -50%; */
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 5px solid #fff;
}

.card__info-personal {
	width: 100%;
	min-height: 145px;
	/* background-color: salmon; */
	padding: 75px 0 28px;
}

.card__name {
	/* display: inline-block; */
	position: relative;
	text-align: center;
	margin: 0 auto 16px;
	color: var(--dark-blue);
	font-weight: 700;
}

.card__age {
	/* position: absolute; */
	margin-left: 10px;
	font-weight: normal;
	color: var(--dark-gray);
}

.card__city {
	display: block;
	text-align: center;
	margin: 0 auto;
	color: var(--dark-gray);
}

.card__info-stats {
	display: flex;
	justify-content: space-evenly;
	padding: 26px 0;
	border-top: 1px solid rgba(150 150 150 / 0.3);
}

.card__stat * {
	display: block;
	text-align: center;
}

.card__stat-quantity {
	color: var(--dark-blue);
	font-weight: 700;
}

.card__stat-name {
	color: var(--dark-gray);
	font-size: 12px;
	letter-spacing: 1px;
}

.attribution {
	position: absolute;
	bottom: 5px;
	font-size: 14px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
